.scientific-calculator {
	width: 1060px;
	margin: 0 auto;
}

.basic-calculator {
	width: 436px;
	margin: 0 auto;
}

.calc-box {
	padding: 10px;
	padding-top: 54px;
	margin-top: 50px;
	margin-bottom: 50px;
	position: relative;
	background-color: #bebebe;

	form {
		margin: 0;  
		padding: 0;
	}

	input[type="text"] {
		border: 0;
		width: 100%;
		outline: none;
		text-align: right;
		background-color: #ffffff;
		font-size: 78px;
	}

	ul {
		background-color: #ebebeb;
		margin: 0;  
		padding: 0;

		li {
			display: inline-block;
			vertical-align: middle;
			margin: 0;  
			padding: 0;
			width: 103px;
			height: 103px;
			overflow: hidden;
			margin-right: -5px;
			text-align: center;
			border: 1px solid #bebebe;
		}

		li:first-child {
			border-left: 0;
		}

		li:last-child button {
			background-color: #686868;
			font-size: 50px;
			color: #ffffff;
		}
		
		&:nth-child(3) sup {
			font-size: 22px;
		}
	}

	button {
		width: 100%;
		height: 100%;
		border: 0;
		position: relative;
		background-color: transparent;
		font-size: 36px;
		cursor: pointer;
	}

	button.calc-number {
		font-size: 50px;
		background-color: #f5f3f3;
	}

	button.equally {
		background-color: #000000;
		color: #ffffff;
	}

	sup, span  {
		font-size: 26px;
	}
	sub {
		font-size: 18px;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 54px;
		background-color: #6d6d6d;
	}

	.value-box {
		padding: 10px 30px;
		border-bottom: 1px solid #bebebe;
		background-color: #ffffff;
	}
}
