$button-size: 55px;

.scientific-calculator {
    width: 567px;
}

.basic-calculator {
    width: 232px;
}

.calc-box {
    padding: 4px;
    padding-top: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: #bebebe;

    form {
        margin: 0;  
        padding: 0;
    }

    input[type="text"] {
        border: 0;
        width: 100%;
        outline: none;
        text-align: right;
        background-color: #ffffff;
        font-size: 36px;
    }

    ul {
        background-color: #ebebeb;
        margin: 0;  
        padding: 0;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0;  
            padding: 0;
            width: $button-size;
            height: $button-size;
            overflow: hidden;
            margin-right: -5px;
            text-align: center;
            border: 1px solid #bebebe;
        }

        li:first-child {
            border-left: 0;
        }

        li:last-child button {
            background-color: #686868;
            font-size: 25px;
            color: #ffffff;
        }
        
        &:nth-child(3) sup {
            font-size: 11px;
        }
    }

    button {
        width: 100%;
        height: 100%;
        border: 0;
        position: relative;
        background-color: transparent;
        font-size: 18px;
        cursor: pointer;
    }

    button.calc-number {
        font-size: 25px;
        background-color: #f5f3f3;
    }

    button.equally {
        background-color: #000000;
        color: #ffffff;
    }

    sup, span  {
        font-size: 13px;
    }
    sub {
        font-size: 9px;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25px;
        background-color: #6d6d6d;
    }

    .value-box {
        padding: 5px 18px;
        border-bottom: 1px solid #bebebe;
        background-color: #ffffff;
    }
}
