$button-size: 55px;
$calculator-font: approximately_novaregular, ProximaNova, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

.scientific-calculator {
    width: 566px;
    display: block;
}

div.basic-calculator{
    width: 230px;
    display: block;

    align-content: initial;
    align-items: initial;
    align-self: initial;
    alignment-baseline: initial;
    animation: initial;
    backface-visibility: initial;
    background: initial;

    font-size: initial;
}

.basic-calculator {
    font-family: $calculator-font;
}

.basic-calculator * {
    display: block;
    font-family: $calculator-font;
}

div.calc-box {
    padding: 3px;
    padding-top: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    background-color: #bebebe;


    form {
        margin: 0;  
        padding: 0;

        input[type="text"] {
            border: 0;
            width: 100%;
            outline: none;
            text-align: right;
            background-color: #ffffff;
            font-size: 36px;
        }

        ul {
            margin: 0;  
            padding: 0;

            li {
                background-color: #ebebeb;
                display: inline-block;
                vertical-align: middle;
                margin: 0;  
                padding: 0;
                width: $button-size;
                height: $button-size;
                overflow: hidden;
                margin-right: -5px;
                text-align: center;
                border: 1px solid #bebebe;
            }

            li:active {
                background-color: #dcdcdc;
            }

            li:first-child {
                border-left: 0;
            }

            li:last-child button {
                background-color: #686868;
                font-size: 25px;
                color: #ffffff;
            }

            li:last-child button:active {
                background-color: #494949;
            }
            
            &:nth-child(3) sup {
                font-size: 11px;
            }
        }

        button {
            width: 100%;
            height: 100%;
            border: 0;
            position: relative;
            background-color: transparent;
            font-size: 18px;
            cursor: pointer;
        }

        button.calc-number {
            font-size: 25px;
            background-color: #f5f5f5;
        }

        button.calc-number:active {
            background-color: #eee;
        }

        button.equally {
            background-color: #333;
            color: #ffffff;
        }

        button.equally:active {
            background-color: #111;
            color: #ffffff;
        }

        sup, span  {
            font-size: 13px;
        }
        sub {
            font-size: 9px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 25px;
            background-color: #6d6d6d;
        }

        .value-box {
            padding: 5px 18px;
            border-bottom: 1px solid #bebebe;
            background-color: #ffffff;
        }
    }
}
