<div class="basic-calculator">
	<div class="calc-box">
		<form name="Calculator">
			<div class="value-box">
				<input name="calcValue" type="text" ng-model="ctrl.calculatorOutput" readonly="readonly"/>
			</div>
			<ul>
				<li><button type="button" ng-click="ctrl.squareRoot();">&radic;</button></li>
				<li><button type="button" ng-click="ctrl.invertValue();">+/-</button></li>
				<li><button type="button" ng-click="ctrl.divideByHundred();">%</button></li>
				<li><button type="button" ng-click="ctrl.clearEntries();">c</button></li>
			</ul>
			<ul>
				<li><button type="button" class="calc-number" value="7" ng-click="ctrl.appendNumber($event);">7</button></li>
				<li><button type="button" class="calc-number" value="8" ng-click="ctrl.appendNumber($event);">8</button></li>
				<li><button type="button" class="calc-number" value="9" ng-click="ctrl.appendNumber($event);">9</button></li>
				<li><button type="button" value="/" ng-click="ctrl.appendOperation($event);">&divide;</button></li>
			</ul>
			<ul>
				<li><button type="button" class="calc-number" value="4" ng-click="ctrl.appendNumber($event);">4</button></li>
				<li><button type="button" class="calc-number" value="5" ng-click="ctrl.appendNumber($event);">5</button></li>
				<li><button type="button" class="calc-number" value="6" ng-click="ctrl.appendNumber($event);">6</button></li>
				<li><button type="button" value="*" ng-click="ctrl.appendOperation($event);">&times;</button></li>
			</ul>
			<ul>
				<li><button type="button" class="calc-number" value="1" ng-click="ctrl.appendNumber($event);">1</button></li>
				<li><button type="button" class="calc-number" value="2" ng-click="ctrl.appendNumber($event);">2</button></li>
				<li><button type="button" class="calc-number" value="3" ng-click="ctrl.appendNumber($event);">3</button></li>
				<li><button type="button" value="-" ng-click="ctrl.appendOperation($event);">&minus;</button></li>
			</ul>
			<ul>
				<li><button type="button" class="calc-number" value="0" ng-click="ctrl.appendNumber($event);">0</button></li>
				<li><button type="button" class="calc-number" value="." ng-click="ctrl.appendNumber($event);">.</button></li>
				<li><button type="button" class="calc-number equally" value="=" ng-click="ctrl.performCalculation();">=</button></li>
				<li><button type="button" value="+" ng-click="ctrl.appendOperation($event);">+</button></li>
			</ul>
		</form>
	</div>
</div>